
.container {
  padding: 8px 0;
}
.options {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 8px;
  .checked {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }
  .checkboxWrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check {
    width: 24px;
    height: 24px;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding-right: 32px;
    cursor: pointer;
    margin-bottom: 10px;
    .label {
      flex: 1;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #FFFFFF;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    .option {
      margin-bottom: 16px;
    }
  }
  
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .option {
    margin-bottom: 4px;
  }
}
