.input {
  box-shadow: none !important;
  height: 48px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  border-bottom: 1px solid #959DA1;
  padding: 0;
  width: 100%;
  outline: 0;
  border-radius: 0;
  padding: 0;
  caret-color: #ffffff !important;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    background-color: transparent !important;
  }
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #959DA1;
    font-weight: 500;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #959DA1;
    font-weight: 500;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #959DA1;
    font-weight: 500;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #959DA1;
    font-weight: 500;
  }
}


.h50 {
  height: 50px;
}

.bb1 {
  border: 0;
  border-bottom: solid 1px #BFC7CA;
  border-radius: 0;
}

.hasError {
  
}

.focus {
  border-bottom: 1px solid #01AEEE !important;
}

.errorField {
  border-bottom: 1px solid #ff6565 !important;
}


.fullBorder {
  border-radius: 4px;
  box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21) !important;
  padding: 0 16px;
  border: 1px solid #e2e5ed;
}

.floatingLabel {
  position: absolute;
  bottom: 8px;
  left: 0;
  color: #999999;
  pointer-events: none;
  // transition: all 0.5s ease-in-out;
  transition: .5s;
  font-size: 12px;
}

.inputContainer {
  position: relative;
  display: inline-flex;
  width: 100%;
  z-index: 10
}

.labelError {
  font-size: 12px;
  color: #CF1E1E !important;
}

.errorMessage {
  font-size: 12px;
  color: #CF1E1E !important;
  margin-left: 6px
}

.icon {
  width: 20px;
  height: 20px;
}

.iconUp {
  transform: rotate(180deg);
}
