.inputComponent {
  background: #262A30;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 319px;
  cursor: pointer;
  position: relative;
  // overflow: hidden;
  .imageWrapper {
    height: 277px;
  }
}
.error {
  border-color: #ff6565 !important;
}
.takePhoto {
  background: rgba(255, 180, 43, 0.1);
  border-radius: 4px;
  width: 164px;
  height: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #FFB42B;
  
}

.image {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.btnClose {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  background: #FFB02B;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: #ffffff;
    font-size: 18px;
  }
}

.progressWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.percent {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}



