.container {
  margin-bottom: 32px;
}

.errorMessage {
  font-size: 12px;
  line-height: 1.67;
  margin-top: 10px;
  display: block;
  color: #ff6565;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 14px;
  line-height: 1.14;
  color: #333333;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  white-space: pre-line;
}

.subLabel {
  font-size: 12px;
  color: #4c5057;
  margin-bottom: 10px;
  display: block;
}

.smallLabel {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: -5px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.required {
  font-size: 16px;
  line-height: 1.25;
  color: #FFB42B;
}

.mb20 {
  margin-bottom: 20px;
}

.note {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 4px;
  margin-bottom: 0;
  a {
    color: #FFB42B !important;
  }
}
