.container {
  display: flex;
  flex-direction: column !important;
  // row-gap: 16px;
}

.progressBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
.stepProgressBar {
  height: 4px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.inforChecks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  .inforCheck {
    display: flex;
    flex-direction: column !important;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    .inforCheckItem {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 6px;
      span {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.002em;
      }
    }

  }
}

